/*_______________________________________________________
// BASIC STYLE  //----------------------------
_______________________________________________________*/
/*---------- General Style ------------*/

:root {
    --primary-color: #40b4b0;
    --action-color: #7fcd00;
    --highlight-color: #735ce3;
    --modal-bg-color: #F8F4ED;
}

body, html {color: #000; background: #ffffff;}
a, a:focus { color: #000; }
a:hover {color: #3969fe; }
a.active {color: #3969fe; }

.btn {
    color: #fff;  
    background: #7FCD00; 
    border: none;
    border-radius: 24px;
    padding: 13px;
}

.btn:hover {color: #fff;}
.btn:before{background: -webkit-radial-gradient(center, ellipse, rgba(39, 3, 106, 0.5) 0%, rgba(0, 0, 0, 0) 80%); background: radial-gradient(ellipse at center, rgba(39, 3, 106, 0.5) 0%, rgba(0, 0, 0, 0) 80%);}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-success {
    color: #fff;
    background-color: #7FCD00;
    border-color: #7FCD00;
}
.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.btn-failure {
    color: #fff;
    background-color: #dc3545;
    background-color: #dc3545;
    border-color: #dc3545;
}
.bg-green {
    background-color: #7FCD00;
}

.owl-dot{background: #fff !important;}
.owl-dot.active {background: #3969fe !important;}

.form-control, .form-control:focus{background: #fff; color: #000; border: 1px solid #7FCD00; border-radius: 0;}
.form-control::-webkit-input-placeholder {color: #8d56f3;}
.form-control::-moz-placeholder {color: #8d56f3;}
.form-control:-ms-input-placeholder {color: #8d56f3;}
.form-control:-moz-placeholder {color: #8d56f3;}
.heading-title-2 span, .sub-heading {color: #3969fe;}
.sub-page-banner{background-color: #410ca3;}
.skyblue{background-color: #150a3b;}
.darkblue{background-color: #191919;}
.greenColor{background-color: #F6F9F1; padding-top: 100px; padding-bottom: 100px; margin-top: 100px;}
.greenColor-signup{/*background-color: #F6F9F1;*/ border-radius: 5px;}
.greenColor-signup .community-title{color: #1e1e1e;}
.greenColor-signup p{color: #1e1e1e;}
.top-scroll {background: var(--action-color); color: #fff;}
.top-scroll:hover {opacity: 0.6;}
.top-scroll a{color: #fff;}

/*----- Menu -----*/
.menu ul li a:before{background: #3969fe;}
.menu ul li a:before{background: #3969fe;}
header.fixed{background: #fff;}
.opener:before, .opener:after{background: #fff;}
.menu-toggle span, .menu-toggle span:before, .menu-toggle span:after{background: #000;}
/* header.fixed .menu-toggle span, header.fixed .menu-toggle span:before, header.fixed .menu-toggle span:after{background: #fff;}*/
.menu-toggle.active span{background: transparent;}

/*----- Home Banner -----*/
.home-banner{background-color: #fff!important;}

/*----- Work Section -----*/
ul.check-list li span{background: #fff; color: #470fac;}

/*----- Feature Section -----*/
.feature-title:hover {color: #3969fe;}
.feature-box:hover path.hover {fill: #3969fe;}

/*----- Timeline Section -----*/
.h-border, .v-row{border-color: #ef3e3c;}
.small-round{border-color: #fff;}
.v-row:before, .small-round span{background: #ef3e3c;}

/*----- Team Section -----*/
.team-img{border-color: #7d3cf4;}
.team-box:hover .team-img {border-color: #3969fe;}

/*----- Home Page Tow -----*/
.banner-heading-tow span{color: #3969fe;}
.coin-counter{background: #5d19db;}
.coin-head{color: #3969fe;}
.coins-counter-loop li:before, .coins-counter-loop li:after{background: #fff;}
.coins-counter-loop li span{background: #480eb4; color: #fff;}
.coins-progress{background: #490fb4;}
.coins-progress span {background-color: #d94afd;}

/*----- About Page -----*/
.sub-page-banner ul li:before{background: #fff;}
.play-project-xn span{border-color: #470fac; background: #fff; color: #470fac;}
.play-project-xn:hover span{border-color: #fff; background: #3969fe; color: #fff;}
.work-part button.close{color: #fff;}
button.close{color: #fff;}


/*----- Contact Page -----*/
.contact-detail li i{background: #5d19db;}

/*----- Footer Section -----*/
.footer-project-xn ul li a{background: var(--action-color);}
.footer-project-xn ul li a:hover{color: #fff;}
.footer-project-xn ul li a:hover{background: #000;}
.footer-link ul li a:hover{color: #7FCD00;}
.footer-link ul li a{color: #ffffff;}
/*
.subscribe .form-control{background: #000; color: #fff; border: 1px solid #7FCD00}
*/
.subscribe .form-control{border: 1px solid var(--highlight-color);}

.subscribe .submit{color: #fff; background: #7FCD00;}
.subscribe .button{color: #fff; background: #7FCD00;}
.subscribe .form-control::-webkit-input-placeholder {color: #7FCD00;}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #7FCD00;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #7FCD00;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #7FCD00;
}
.subscribe .form-control::-moz-placeholder {color: #7FCD00;}
.subscribe .form-control:-ms-input-placeholder {color: #7FCD00;}
.subscribe .form-control:-moz-placeholder {color: #7FCD00;}
.subscribe .submit:hover {color: #7FCD00; background: #000;}
.subscribe .button:hover {color: #7FCD00; background: #7FCD00;}
.copyright p a{color: grey;}
.copyright a{color: grey;}
.copyright a:hover{color: #7FCD00;}
.copyright p {color: grey;}
.copyright p a:hover {color: #7FCD00;}
.copyright ul li:before{background: #7FCD00;}
.footer{border-color: #7FCD00;}

@media(min-width: 992px){
	.menu ul li:hover a{color: #3969fe;}
	.mega-menu:hover:before{color: #3969fe;}
	.menu ul ul li a{border-color: #491aa0 !important; color: #fff !important;}
	.menu ul ul li.mega-menu:before{color: #3969fe;}
	.menu ul ul li:hover > a{color: #3969fe;}
	.menu ul ul{background: rgb(58, 7, 152, .95);}
	.menu ul ul li a:before{background: #491aa0;}
}
@media(max-width: 991px){
	.menu{background: var(--modal-bg-color);}
	/*.signin .btn{background: transparent;}*/
	header.fixed .menu-toggle.active span{background: transparent;}
}
